<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ page_title }} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="header_wrapper">
                <p> {{ header.title }} </p>
                <a href="{% url 'previous_page' %}">Вернуться на главную страницу</a>
                <a
                    href="{{ header.author_link }}"
                    target="_blank"
                    rel="noopener noreferrer"
                > {{ header.author }} </a>
            </div>
        </div>
    </header>
    <main class="main" id="main">
        <div class="container">
            <div class="time__wrapper">
                <h1> Текущее время: </h1>
                <span class="time"> {{ current_time }} </span>
            </div>
        </div>
    </main>
</body>
</html>