{% extends "school/base.html" %}
{% load static %}

{% block title %} Список учеников {% endblock %}
{% block content %}
<div class="row">
  {% if object_list %}
  <ul class="list-group">
  {% for student in object_list %}
    <li>
      <p> Имя студента: {{ student.name }} </p> 
      <p> Класс: {{ student.group }} </p> 
      {% for teacher in student.teachers.all %}
      <p> Преподаватель: {{ teacher.name }} </p>
      <p> Предмет: {{ teacher.subject }} </p>
      {% endfor %}
    </li>
  {% endfor %}
  </ul>
  {% else %}
  <p> Список студентов пуст </p>
  {% endif %}
</div>
{% endblock %}
